@import "tailwindcss";

:root {
  --primary: #3338a0;
  --foreground: #2d336b;
  --background: #fbfbfb;
}

@theme {
  --color-primary: var(--primary);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
}

body {
  @apply bg-background text-foreground;
}

.tp-container-wrapper {
  @apply w-full flex justify-center;
}

.tp-container {
  @apply max-w-6xl w-full px-4;
}

.tp-block {
  @apply p-4 rounded w-full

  hover:bg-primary/10 focus:bg-primary/10;
}

.tp-block-control {
  @apply cursor-pointer;
}
