@import "tailwindcss";

:root {
  --primary: #3338a0;
  --foreground: #2d336b;
  --background: #fbfbfb;
}

@theme {
  --color-primary: var(--primary);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
}

body {
  @apply bg-background text-foreground;
}

.block-wrapper {
  @apply my-2 hover:bg-primary/10 transition-colors flex;
}

.block-content {
  @apply outline-none ring-0;
}

.block-wrapper .drag-handle {
  @apply cursor-pointer px-2 flex justify-center h-full;
}
