@import "tailwindcss";

:root {
  --primary: #7288ae;
  --foreground: #eae0cf;
  --background: #111844;
}

@theme {
  --color-primary: var(--primary);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
}

body {
  @apply bg-background text-foreground;
}
